<section class='cohort'>
<h1> <%= @cohort.name %></h1>
<p>Description: <%= @cohort.description %></p>
<p>Start Date: <%= @cohort.start_date.strftime("%B %e %Y") %></p>
  <p>End Date: <%= @cohort.end_date.strftime("%B %e %Y") %></p>
    <p>Instructor: <%= @cohort.instructor %></p>
<br>
<hr>
<h2>Students:<br></h2>
<% @cohort.students.each do |student| %>
<% if student.accepted? %>
<p>
<%= link_to "#{student.full_name}", course_student_path(@course.id, student.id) %>, <%= student.email %>, Student ID: <%= student.sid %><br></p>
<% else%>
<%end%>
<% end %>
<% if current_user.admin %>
<p><%= link_to "Edit #{@cohort.name}", edit_course_cohort_path%></p>
<% end %>
</section>
