<h1> <%= @cohort.name %></h1>
<p>Description: <%= @cohort.description %></p>
<p>Start Date: <%= @cohort.start_date %><p>
  <p>End Date: <%= @cohort.end_date %><p>
<br>
<hr>
Studnets:<br>
<% @cohort.students.each do |e| %>
<%= e.full_name %><br>
<% end %>
