<h1> <%= @cohort.name %></h1>
<p>Description: <%= @cohort.description %></p>
<p>Start Date: <%= @cohort.start_date %><p>
  <p>End Date: <%= @cohort.end_date %><p>
<br>
<hr>
Instructor:<%= @cohort.instructor %>
Students:<br>
<% @cohort.students.each do |student| %>
<% if student.accepted? %>
<%= student.full_name %><br>
<%= link_to "#{student.full_name}", course_student_path(@course.id, student.id) %></h5>
<% else%>
<%end%>
<% end %><br>
<% if is_admin? %>
<%= link_to "Edit #{@cohort.name}", edit_course_cohort_path%>
<% else %>
<% end %>
