<% if current_user == nil %>
<h1><%= render 'layouts/oops' %></h1>
<% else %>
<% end %>
<% if logged_in? && @student.accepted? && is_admin? %>
<h1> Edit Student </h1>
<%= form_for([@course, @student]) do |es| %>
<label>First Name </label><%= es.text_field :name %><br>
<label>Last Name</label><%= es.text_field :last_name %><br>
<label>Email</label><%= es.email_field :email %><br>
<label>Street Address</label><%= es.text_field :address %><br>
<label>City</label><%= es.text_field :city %> <label>State</label><%= es.text_field :state %><label>Zip Code</label><%= es.text_field :zip%><br>
<%= es.label :photo, 'Upload a photo' %><br>
<%= es.file_field :photo %><br>
<label>About</label><%= es.text_area :about %>
<label>Age</label><%= es.text_field :age, placeholder: 'Age'  %> <br>
<label>Education: </label><%= es.select :education, [["Walking", "Walking"], ["Bike Riding", "Bike Riding"], ["Taking the Bus", "Taking the Bus"], ["Postboy Driver", "Postboy Driver"]], required: true %><br>
<label>Cohort:</label><%= es.collection_select :cohort_id, @cohort, :id, :name, {include_blank: true} %><br>
<%= es.submit 'Update Student' %></p>
<% end %>
<% else %>
<% end %>
<% if is_admin? && !@student.accepted? %>
<h1> Review Student for Approval </h1>
<p>First Name: <%= @student.name %></p>
<p>Last Name: <%= @student.last_name %></p>
<p>Address: <%= @student.full_address %></p>
<p>Age: <%= @student.age %></p>
<p>About: <%= @student.about %></p>
<p>Education: <%= @student.education %></p>
<p>Applicant ID: <%= @student.sid %></p>
<p>Accept this Student?<p>
  <%= form_for([@course, @student]) do |d| %>
<p>Accepted  <%= d.check_box :accepted %></p>
  <p>  Denied<%= d.check_box :denied %></p>
  <%= d.submit 'Accept Student', data:{confirm:'Are you sure?'} %></p>
<% end%>
<% else %>
<% end %>
<% if logged_in? && @student.accepted? && !is_admin? %>
<h1> Pass a Student </h1>
<p>First Name: <%= @student.name %></p>
<p>Last Name: <%= @student.last_name %></p>
<p>Address: <%= @student.full_address %></p>
<p>Age: <%= @student.age %></p>
<p>About: <%= @student.about %></p>
<p>Education: <%= @student.education %></p>
<p>Student ID: <%= @student.sid %></p>
<p>Pass this Student<p>
  <%= form_for([@course, @student]) do |f| %>
  <label>Confirm Earned Proficiency </label><br>
<label>Proficiency:</label><%= f.collection_select :rewards, @courses, :reward, :reward, {include_blank: true} %><br>
  <%= f.submit 'Pass Student', data:{confirm:'Are you sure?'} %></p>
<% end%>
<% else%>
<%end%>
