<% if is_admin? %>
<section class='edit'>

<h1>Edit Instructor <%= @instructor.full_name%> </h1>
<%= form_for(@instructor) do |f| %><br>
  <%= f.text_field :name, placeholder: 'Name' %><br>
  <%= f.text_field :last_name, placeholder: 'Last Name'  %> <br>
  <%= f.email_field :email, placeholder: 'Email', required: true  %>  <br>
  <%= f.password_field :password, placeholder: 'Create a Password', required: true %><br>
  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', required: true %> <br>
  <%= f.label :photo, 'Upload a photo' %><br>
  <%= f.file_field :photo %><br>
  <label>Education: </label><%= f.select :education, [["Walking", "Walking"], ["Bike Riding", "Bike Riding"], ["Taking the Bus", "Taking the Bus"], ["Postboy Driver", "Postboy Driver"]], required: true %><br>
  <%= f.text_field :age, placeholder: 'Age'  %> <br>
  <%= f.text_field :salary, placeholder: 'Salary'  %> <br>
  <%= f.text_area :bio, placeholder: 'Write a quick bio' %>  <br>

  <%= f.submit 'Update' %>
  <% end %>
  <% else %>
  <% end %>
</section>
<% if is_inst? %>
<section class='edit'>
<%= form_for(@user) do |d| %><br>
<h1>Change Password or Update Bio (Optional) for <%= @instructor.full_name%> </h1>
<label>Update Bio:<br><%= d.text_area :bio, placeholder: 'Write a quick bio' %></label>  <br>
<p><%= d.password_field :password, placeholder: 'Change Password', required: true %></p><br>
<p><%= d.password_field :password_confirmation, placeholder: 'Confirm Password', required: true %></p> <br>
<p>Admin?  <%= d.check_box :admin %></p>

  <%= d.submit 'Save Changes', class: 'login-btn' %>
    <% end %>
<% else %>
<% end %>
</section>
