<% if current_user == nil %>
<h1><%= render 'layouts/oops' %></h1>
<% else %>
<section class='profile'>
<h1><%= @user.full_name %>'s Profile </h1><br>
<%= @user.photo.attachment.nil? ? 'No photo' : image_tag(@user.photo) %><br>
<h3>School ID # <%= @user.sid %></h3>
<p>Email: <%= @user.email %></p>
<p>Bio: <%= @user.bio %></p>
<p>Age: <%= @user.age %></p>
<p>Education: <%= @user.education %></p>
<p>Salary: $<%= @user.salary %> /year</p>
<% if is_inst? %>
<p><%= link_to "Change Password for #{@user.full_name}", edit_instructor_path(@user.id)%></p>
<% else %>
<% end %>
<% end %>
</section>
