
<% if logged_in? && current_user.admin %>
<section class="admin">
  <div><h2>Instructors</h2>
    <p><%= link_to 'Register A New Instructor', register_path %></p>
    <p><%= link_to "View All Instructors", all_inst_path %></p>
  </div>
  <div><h2>Courses</h2>
    <p><%= link_to 'Register A New Course', new_course_path %></p>
    <p><%= link_to "View All Courses", mycourses_path %></p>
</div>

<div><h2>Students</h2>
  <p><%= link_to "View All Students", allstudents_path %></p>
  </div>
  <div>
    <h2>Applicants</h2>
      <p><%= link_to "View All Applicants", allapplicants_path %></p>
</div>
</section>
<% else %>
<section class='home'>
Postboy Driving School
<%= link_to 'Course Catalog', all_courses_path %>
</section>
<% end %>
