<section class='course' style=background-image: url(<%= '@course.photo'%>)>
<h1><%= @course.name %></h1>
<p><label>Description: </label><%= @course.description %></p>
<p><label>Course Hours: </label><%= @course.hours %> Hours</p>
<p><label>Course Cost: $</label><%= @course.cost %></p>
<p><label>Proficiency Earned: </label><%= @course.reward %></p>
<hr>
  <h3>Upcoming Course Cohorts</h3>
  <% @course.cohorts.each do |cohort| %>
    <% if not_logged? %>
    <p><%="#{cohort.name}"%></p>
  <%else%>
  <p><%= link_to "#{cohort.name}", course_cohort_path(@course.id, cohort.id) %></p>
  <%end%>
  <% end %><% if not_logged?%>
  <p><%= link_to 'Apply to this Course!', new_course_student_path(@course.id) %></p>
  <% else%>
<% end %>
<% if is_admin? %>
  <div class='ez-grid'>
  <div><p><%= link_to "Edit #{@course.name}", edit_course_path(@course.id)%></p></div>
<div>  <p><%= link_to 'Create a Cohort', new_course_cohort_path(@course.id) %></p></div>
</div>
  <% else %>
  <% end %>

</section>
