<ul>
  <li><%= link_to 'Home', root_path %></li>



  <% if logged_in? %>

  <li><%= link_to "#{current_user.email}", mycourses_path %></li>
  <li><%= link_to 'Log out', logout_path, method: :delete %>
  <% else %>
  <li><%= link_to 'Log In', login_path %></li>
  <% end %>
</ul>

<% if is_admin? %>
  <li><%= link_to 'Register', register_path %></li><% else %>
<% end %>
