
  <% if is_inst? %>
  <nav id='pub-panel' class='panel'>
  <div class='red'><h1><%= link_to 'Postboy Driving School', root_path %></h1></div>
  <div><%= link_to "My Profile", profile_path %></div>
  <div><%= link_to "My Cohorts", mycohorts_path %></div>
  <div><%= link_to "Student Search", search_path %></div>
  <div>  <img src='/light.png' class='headpic'></div>
  </nav>
  <% else %>
  <% end %>


<% if is_admin? %>
<nav id='admin-panel' class='panel'>
<div class='red'><h1><%= link_to 'Postboy Driving School Admin Panel', root_path %></h1></div>
</nav>
<% else %>
<% end %>

<% if not_logged? %>
<nav id='pub-panel' class='panel'>
<div class='red'><h1><%= link_to 'Postboy Driving School', root_path %></h1></div>
<div><%= link_to 'Check Out Our Courses!',  all_courses_path %></div>
<div><%= link_to 'About Us', about_path %></div>
<div class="green"><%= link_to 'Apply for a Course Today!', all_courses_path %></div>
<div>  <img src='/light.png' class='headpic'></div>
</nav>
<% else %>
<% end %>
