<nav>
  <div><%= link_to 'Home', root_path %></div>



  <% if logged_in? %>
  <div><%= link_to "My Profile", profile_path %></div>
  <div><%= link_to 'Log out', logout_path, method: :delete %>
  <div><%= link_to "My Cohorts", mycohorts_path %></div>
  <% else %>
  <div><%= link_to 'Log In', login_path %></div>
  <% end %>


<% if is_admin? %>
  <div><%= link_to "All Courses", mycourses_path %></div>
  <div><%= link_to 'Register A new Instructor', register_path %></div>
  <div><%= link_to 'Register A new Course', new_course_path %></div>
  <div><%= link_to "All Instructors", all_inst_path %></div>
<% else %>
<% end %>
</nav>
