<!DOCTYPE html>
<html>
  <head>
    <title>PostboyDriving</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <ul>
<% flash.each do |key, message| %>
  <li><%= message %></li>
<% end %>
</ul>
<%= yield %>
<%= render 'layouts/footer' %>
  </body>
</html>
